<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RideWay_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Mypage.MypageActivity"
            android:exported="false" />
        <activity
            android:name=".community.BoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".map.MapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="is58t3w4qp" />

        <activity
            android:name=".login.PassSearchSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".login.IdSearchSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".login.IdSearchActivity"
            android:exported="false" />
        <activity
            android:name=".login.FirstRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.SecondRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.PassSearchActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.EntranceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSuccessActivity"
            android:exported="false" />
    </application>

</manifest>